.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 0 !important;
  width: 0 !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.page {
  color: #757575;
  font-family: roboto, sans-serif;
}

.title {
  color: #212121;
  text-decoration: none;
}

.list {
  list-style: none;
  text-decoration: none;
}

.img {
  display: block;
}

.wraper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .wraper {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .wraper {
    width: 768px;
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .wraper {
    width: 1200px;
  }
}

.logo-link {
  color: #2196f3;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-decoration: none;
  font-family: Raleway, sans-serif;
}

.logo-link-studio {
  color: #212121;
}

.box {
  border-bottom: 1px solid #ececec;
  height: 80px;
}

@media screen and (max-width: 767px) {
  .box {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    height: 60px;
  }
}

.mobile-btn {
  margin: 0;
  padding: 11px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  display: inline-flex;
  outline: none;
}

.mobile-btn:hover .mobile-btn-menu,
.mobile-btn:focus .mobile-btn-menu {
  fill: #2196f3;
}

.mobile-btn:hover .mobile-btn-close,
.mobile-btn:focus .mobile-btn-close {
  fill: #2196f3;
}

.mobile-btn .mobile-btn-close {
  display: none;
}

.mobile-btn.is-open .mobile-btn-close {
  display: block;
}

.mobile-btn.is-open .mobile-btn-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}

.box-navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.conteiner-navi {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .conteiner-navi {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 393px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .conteiner-navi.is-open {
    display: block;
  }
}

.navi-items .navi {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .navi-items .navi {
    font-size: 18px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .navi-items {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .menu-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .menu-item:last-child {
    margin-bottom: 60px;
  }
}

.navi:hover,
.navi:focus {
  color: #2196f3;
}

.navi .curent {
  color: #2196f3;
}

.curent::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  left: 0;
  bottom: -32px;
  display: block;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .curent::after {
    bottom: -8px;
  }
}

@media screen and (min-width: 768px) {
  .menu-item:nth-child(n + 2) {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .navi-address {
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .navi-address {
    margin-left: 305px;
  }
}

.link-navi-address {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  text-decoration: none;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

@media screen and (max-width: 767px) {
  .link-navi-address {
    font-size: 18px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .link-navi-address {
    display: inline-flex;
  }
  .link-navi-address:first-child {
    margin-right: 50px;
  }
}

.link-navi-address:hover, .link-navi-address:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .link-navi-address:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .link-navi-address:not(:last-child) {
    margin-bottom: 10px;
  }
}

.img-address {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.img-address:hover, .img-address:focus {
  fill: #2196f3;
}

.img-address-tell {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */