.priority-section {
  padding: 60px 0;
}

.priority-boxes {
  width: 100%;
  margin-bottom: 30px;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    background: #f5f4fa;
    margin-bottom: 30px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
  }
}

.priority-img::before {
  background-image: url("../img/logo/antenna.svg");
}

.clock-priority-img::before {
  background-image: url("../img/logo/clock.svg");
}

.diagram-priority-img::before {
  background-image: url("../img/logo/diagram.svg");
}

.astronaut-priority-img::before {
  background-image: url("../img/logo/astronaut.svg");
}

.priority-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.article {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .priority-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .priority-boxes {
    width: 354px;
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .priority-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .priority-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .priority-boxes {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
